*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem is 10px; 10px/16px(default browsee font) = 62.5%
}

body {
  box-sizing: border-box;

  li,
  ul,
  ol,
  a {
    list-style: none;
    text-decoration: none;
  }

  img {
    width: 100%;
    display: block;
  }

  .product--img {
    padding-bottom: 90%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  .img--zoom {
    img {
      transition: transform 0.4s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }

  .relative {
    position: relative;
  }

  .h--vh {
    min-height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
  }

  .text--center {
    text-align: center;
  }

  .blog__link {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .bg--secondary {
    background-color: $color-secondary;
  }

  .bg--third {
    background-color: $color-third;
  }

  .has--transition {
    transition: transform 0.4s ease-in-out;
    &:hover {
      transform: translateY(-3px);
      will-change: transform;
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
