.header {
  background-color: $color-primary;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: $padding-16 0;
}

ul.main__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  @media (min-width: $breakpoint-tablet) {
    align-items: center;
  }

  li {
    opacity: 0;
    transform: translateY(100%);
    position: relative;
    margin: $margin-8;
    padding-left: $padding-16;
    a {
      font-size: 2rem;
      text-transform: uppercase;
      display: inline-block;
      padding: $padding-16;
      color: $color-text;
      font-weight: 700;
      @media (min-width: $breakpoint-tablet) {
        font-size: 3rem;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: rgba($color-text, 0.2);
      z-index: -1;
      transition: width 0.5s linear;
    }

    &:hover:before {
      width: 100%;
    }
  }
}

.slide__menu_active ul li {
  @include navItemTransition;
  opacity: 1;
  transform: translateY(0%);
}
