@import "../fonts/font.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.05;
  color: $color-text;

  p {
    line-height: 1.6;
  }
}

.f1 {
  font-size: 5.2rem;
}

.f2 {
  font-size: 4.2rem;
}

.f3 {
  font-size: 3.4rem;
}

.f4 {
  font-size: 2.5rem;
}

.f5 {
  font-size: 1.8rem;
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
  line-height: 1.08;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text--dark {
  color: $color-text;
}

.white--space {
  white-space: pre-wrap;
}
