$color-primary: #00bf7a;
$color-secondary: #f0f0f7;
$color-third: #58646d;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #bdbdbd;
$color-text: #42425d;

$default-font-size: 1.6rem;

$grid-width: 120rem; //1200px
$grid-gutter: 1.6rem;

$padding-64: 6.4rem;
$padding-32: 3.2rem;
$padding-20: 2rem;
$padding-16: 1.6rem;
$padding-10: 1rem;
$padding-8: 0.8rem;

$margin-64: 6.4rem;
$margin-32: 3.2rem;
$margin-16: 1.6rem;
$margin-10: 1rem;
$margin-8: 0.8rem;

$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
$breakpoint-xl-desktop: 1300px;
$breakponit-xxl-desktop: 1600px;

$box-shadow: 14px 14px 40px 0 rgb(118 126 173 / 8%);
