$columns: 12;

@for $i from 1 through $columns {
    .col-#{$i}{
        flex: 0 0 100% / $columns * $i;
    }
}


/* nav transition */
@mixin navItemTransition {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition: all .4s #{$i * .3}s ease;
      }
    }
  }