$color-primary: #E54360;
$color-secondary: #FFB71C;
$color-third: #58646D;
$color-white: #ffffff;
$color-black: #000000;



$default-font-size: 1.6rem;

$grid-width: 120rem; //1200px

$padding-64: 6.4rem;
$padding-32: 3.2rem;
$padding-16: 1.6rem;
$padding-8: 0.8rem; 

$margin-64: 6.4rem;
$margin-32: 3.2rem;
$margin-16: 1.6rem;
$margin-8: 0.8rem;