$color-primary: #be6fd5;
$color-primary-light: #84249c;
$color-primary-dark: #28b485;

$color-secondary: #be6fd5;
$color-secondary-light: #00d0ff;
$color-secondary-dark: #ff7730;

$color-third-light: #ff29f8;
$color-third-dark: #326c75;

$color-grey-dark: #777777;
$color-grey-dark-2: #333333;

$color-white: #ffffff;
$color-black: #000000;



$default-font-size: 1.6rem;

$grid-width: 120rem; //1200px

$padding-64: 6.4rem;
$padding-32: 3.2rem;
$padding-16: 1.6rem;
$padding-8: 0.8rem; 

$margin-64: 6.4rem;
$margin-32: 3.2rem;
$margin-16: 1.6rem;
$margin-8: 0.8rem;